@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Open+Sans:wght@300&family=Playfair+Display&display=swap');

p{
text-align: justify;
font-family: 'DM Sans', sans-serif;
}
.Items{
    width: 33%;
    height: 33%;
    margin-bottom: 20px;
}
.Historia{
    width: 50%;
    margin: 10px;
    align-items: center;
}
.titulo{
    text-align: left;
    margin-top: 10px;
    font-family: 'Pushster', cursive;
}
.info{
    margin-bottom: 20px;
}

.Inicio{
    margin-left: 20px;
    margin-right: 20px;
}